.container1 {
    display: grid;
    grid-template-columns: repeat(8, 3vw);
    grid-template-rows: repeat(8, 3vw);
    justify-content: center;
    align-items: center;
    margin-left: -1rem;
}
.container1 div
{
    border: 2px solid;
    height: -webkit-fill-available;
}
