.container {
    /* display: grid; */
    /* grid-template-columns: repeat(nmber, 3vw);
    grid-template-rows: repeat(8, 3vw); */
    /* justify-content: center;
    align-items: center;
    margin-left: -1rem; */
}
.container div
{
    border: 2px solid;
    height: -webkit-fill-available;
}
